.ups__resources-guides {
    display: flex;
    
}

.ups__resources-guides_container {
    padding: 10rem 5rem;
    text-align: left;

}

.ups__resources-guides_container div {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.ups__resources-guides_container button {
    background-color: var(--ups-dark);
    color: white;
    padding: 0.7rem 1rem;
    margin-left: 1rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}