.ups__home-info {
    display: flex;
}

.ups__home-info_container {
    padding: 5rem 10rem;
}

.ups__home-info_container h1 {
    font-size: 2.5rem;
}

.ups__home-info_container p {
    font-size: 1.3rem;
    text-align: left;
}

.ups__home-info_container-button button {
    background-color: var(--ups-dark);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 1.5rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.ups__home-info_container-icons {
    margin-top: 3rem;
    display: flex;        
  gap: 1.5rem;          
  justify-content: center; 
  align-items: center;    
}

.ups__home-info_container-icons img {
  width: 40px;          /* icon size */
  height: 40px;
  transition: transform 0.2s;
}
.ups__home-info_container-icons svg {
    color: green;
}