.ups__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 1rem 2rem;
  z-index: 999;
  margin: 0 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
}

.emas__navbar-heading {
  display: flex;
  align-items: center;
}

.emas__navbar-heading {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  color: var;
  text-decoration: none;
  font-weight: bold;
}

.emas__navbar-heading img {
  height: 30px;
  width: auto;
}

.emas__navbar-heading h1 {
  font-size: 1.5rem;
  line-height: 1;
}

.emas__navbar-links {
  display: flex;
}

.emas__navbar-links_menu {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.emas__navbar-links_menu a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.2s ease;
  font-weight: bold;
}

.emas__navbar-links_menu a:hover {
  color: #aaa;
}