.ups__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 2rem;
  background-color: #111;
}

/* heading + title container */
.emas__navbar-heading {
  display: flex;
  align-items: center;
}

/* Clickable heading wrapper */
.emas__navbar-heading {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* heading image */
.emas__navbar-heading img {
  height: 30px;
  width: auto;
}

/* Heading text */
.emas__navbar-heading h1 {
  font-size: 1.5rem;
  line-height: 1;
}

/* Links container */
.emas__navbar-links {
  display: flex;
}

/* Menu links */
.emas__navbar-links_menu {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.emas__navbar-links_menu a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.2s ease;
  font-weight: bold;
}

.emas__navbar-links_menu a:hover {
  color: #aaa;
}